.search-form {
  padding-top: 20px;
}

 h2, h3, h4, h5, h6 {
font-family: 'Raleway';
margin: 0;
}
h1{
  font-family: 'Raleway';
  margin-left:20px;}

.search-form button {
  width: 100%;
}

.logo-center {
  font-family: Sanchez;
  font-size: 200px;
 
}

.gif-border {
    margin-top:30px;

}

.oval-left.input-group-text {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border:none;
  background-color: white;
}

.oval-right.search-input {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.big {
  font-size: 100px;
  color: #693d18;
  margin-bottom: 0px;
}

.text-description {
 font-size: 20px;
}

.logo {
  text-align: center;
   display: block;
    
 border-radius: 50%;
 margin-bottom:100px;
 margin-top:20px;


}
.empty-result {
  margin-top: 30px;
}


p {color:black;} 

.gif-container {
  padding: 5px 0px;
  margin: 10px 0px;
  min-height: 100px;
  border: 1px solid gray;
  background-color: rgb(224, 217, 217);
  color:black;
  border-radius: 10px;
}

.gifnewborder{
margin-top:50px;
}

.gif {
  width: 100%;
}

